button{
    font-family: 'fantasy';
    display: block;
    top: 5px;
    color: white;
    background-color: black;
    position: relative;
    padding: 0.5em;
    margin-left: 75px;
    align-items: center;
}

#atletas_jogador{
    display: grid;
    grid-template-columns: auto
};

@media screen and (min-width: 768px) {
    #atletas_jogador{
        grid-template-rows: auto;
    }
}

#detalhescont{
    display: flex;
    flex-wrap: wrap;
}

#card_atleta{
    display: flex;
    flex-wrap: wrap;
}